html,body{margin:0px;padding:0px;background-color:#93d2f0;}
ol {
	list-style-type:none;
	padding:0;
	margin:0;
	background-color:#3d58f0;
	font-size:25px;
	height:2em;
	line-height:2em;
	text-align:center;
	}
ol a {
	display:block;
	text-decoration:none;
	color:#000;
	padding:0 5px;
	}
ol > li {
	float:left;
	width:242px;
	margin-left:7px;
	background-color:#7f7bf5;
	height:2em;
	}
ol > li:first-child {
	margin-left:0;
	}
ol > li:hover {
	background-color:rgb(195, 173, 240);
	}
ol > li:hover > a {
	color:#09C;
	}
ol > li:hover > ul {
	display:block;
	}
ol > li > ul {
	display:none;
	list-style-type:none;
	padding:0;
	margin:0;
	}
ol > li > ul > li {
	position:relative;
	background-color:rgb(195, 173, 240);
	}
ol > li > ul > li > a {
	border-top:1px solid #FFF;
	}
ol > li > ul > li:hover {
	background-color:rgb(195, 173, 240);
	}
ol > li > ul > li:hover > a {
	color:#09C;
	}
.baner{
	background-color:#DDDDDD;
	height:200px;
	clear:both; 
	}
#kontener{
	width:1000px;
	margin:auto;
	text-align:center;
	}
#logo,#stopka{
	background-color:#3d58f0;
	height:100px;
	padding-top:10px;
	padding-bottom:10px;
	}
#logo{
	width:400px;
	float:left;
	}
#glowny{
	margin:50px; 
	text-align: left;
	}
table{
	width: 100%;
	border-collapse: collapse;
	}
#stopka{
	text-align:center
}
#baner a{
	color:#555555;
	margin:50px;
	font-size:200%;
	text-decoration:none
	}

hr{
	background-color:#17009b;
	width:100%;
	border-width:1px
	}
